@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFProRegular";
    src: url("./fonts/sfpro/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
    font-family: "SFProMedium";
    src: url("./fonts/sfpro/SFPRODISPLAYMEDIUM.OTF");
}

body {
    font-family: SFProRegular;
}

a::after {
    content: " ";
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}